<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <title>Spring Security Example</title>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>

    <h1>Welcome!</h1>

<table>
    <tr>
        <th>Poll name</th>
        <th>Poll theme</th>
        <th>Poll owner</th>
        <th>Public or private</th>
    </tr>
    <tr th:each="poll : ${polls}">
        <td th:text="${poll.getQuestion()}"></td>
        <td th:text="${poll.getTheme()}"></td>
        <td th:text="${poll.getOwner().username}"></td>
        <td th:text="${poll.getIsPrivate() ? 'Private' : 'Public' }"></td>
        <td>
            <button th:onclick="|window.location.href='@{/poll/{id}/vote(id=${poll.getId()})}'|">Visit</button>
        </td>
    </tr>
</table>
<div>

</div>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</body>
</html>