<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Menu</title>

    </head>
    <body>
        <div th:replace="fragments/navbar"></div>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-auto">
        <h1 class="m-3 text-center">Welcome!</h1>

            <table class="table" style="width: 800px;">
                <tr class="thread-light">
                    <th scope="col">Question</th>
                    <th scope="col">Theme</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Privacy</th>
                    <th scope="col"></th>
                </tr>
                <tr scope="row" th:each="poll : ${polls}">
                    <td th:text="${poll.getQuestion()}"></td>
                    <td th:text="${poll.getTheme()}"></td>
                    <td th:text="${poll.getOwner().username}"></td>
                    <td th:text="${poll.getIsPrivate() ? 'Private' : 'Public' }"></td>
                    <td>
                        <button class="btn btn-primary btn-block" th:onclick="|window.location.href='@{/poll/{id}/vote(id=${poll.getId()})}'|">Visit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>