<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/general :: head"></th:block>
    <title>Login</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container h-100" style="width: 650px;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">

            <h2 class="m-3 text-center">Login Page</h2>

            <form class="form" method="post" th:action="@{/login}">

                <div class="alert alert-info" role="alert" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="username" name="username" placeholder="User name" type="text"/>
                    <label for="username">User name</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="password" name="password" placeholder="Password" type="password"/>
                    <label for="password">Password</label>
                    <div class="alert alert-warning" th:each="error: ${'Invalid username or password'}"
                         th:if="${param.error}"
                         th:text="${error}">Validation
                    </div>
                </div>

                <div class="tn-group d-flex">
                    <button class="btn btn-primary btn-block w-100" type="submit">Sign In</button>
                </div>

                <div class="text-center mt-4">
                    <p>Not registered? <a th:href="@{/register}">Create an account</a></p>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>