<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general :: head"></th:block>
    <title>Create poll</title>
    <link href=C:\Users\oyste\OneDrive\Github\Dat250\DAT250Assigments\Assignment\src\main\resources\static\css\custom.css rel="stylesheet">

</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container h-100" style="width: 750px;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">

            <h2 class="m-3 text-center">Create a New Poll</h2>

            <form class="m-4 form" method="post" th:action="@{/poll/create}" th:object="${pollCreateForm}">

                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="question" id="question" th:field="*{question}"
                                  placeholder="Question" maxlength="254" style="height: 140px; resize: none;"></textarea>
                        <label for="question">Question?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="theme" type="text" id="theme" th:field="*{theme}"
                               placeholder="Theme" maxlength="20"/>
                        <label for="theme">Theme of your Poll?</label>
                    </div>
                        <div class="mb-3">
                            <label>Private poll:
                                <input type="checkbox" th:field="*{isPrivate}">
                            </label>
                        </div>

                <button class="btn btn-primary btn-block w-100" type="submit">Create poll</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>