<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <th:block th:include="fragments/general :: head"></th:block>
    <title>Poll result</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-auto">

                    <div class="text-center mt-5" th:object="${poll}">
                        <h3 class="m-4" th:text="*{question}" style="width: 600px;"></h3>
                        <h4 class="m-4" th:text="*{'Theme: ' + theme}"></h4>

                        <div class="mt-5 d-flex justify-content-center">
                            <div class="form-check form-check-inline">
                                <label>Yes votes:</label>
                                <label class="text-primary" th:text="*{yesVotes}"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>No votes:</label>
                                <label class="text-primary" th:text="*{noVotes}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>