<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex p-2" th:fragment="navbar" xmlns:th="">
    <a class="navbar-brand" href="#">Navigation</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Main Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/account}">Profile</a>
            </li>
        </ul>
    </div>
    <div class="nav-item align-right">
        <a class="nav-link" th:href="@{/logout}">Log out</a>
    </div>
</nav>